@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bgc-1: #dfeeff;
  --bgc-primary: #fff;
  --bg-text1: #1a1d28;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--bgc-1);
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60rem;
  padding: 50px 30px;
  box-shadow: 0 49px 71px -30px rgba(27, 27, 81, 0.23);
  border-radius: 1rem;
  background-color: var(--bgc-primary);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.heading {
  width: 40rem;
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  color: var(--bg-text1);
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.description {
  color: var(--bg-text1);
  font-size: 1.6rem;
  line-height: 2.7rem;
  padding-left: 25px;
  padding-right: 25px;
}

.oauth {
  display: flex;
  flex-direction: column;
}

.social {
  width: 30rem;
  padding: 20px;
  border: 1px solid #d2dae6;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--bgc-primary);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.social:not(:last-of-type) {
  margin-bottom: 1rem;
}

.social:hover {
  border-color: rgb(11, 11, 206);
}

.social__icon {
  margin-right: 2rem;
}

.social__text {
  font-size: 15px;
}

.updates {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkbox {
  width: 25px;
  height: 25px;
}

.updates__text {
  color: var(--bg-text1);
  font-size: 1.4rem;
  padding-left: 10px;
}

.signin__btn {
  text-decoration: none;
  color: #1997f0;
}
